
.explorer .toggle {
  display: none !important;
}


.explorer > h3 {
  display: none !important;
}


.explorer {
  padding-top: 0 !important;
  margin-top: 0 !important;
}


.explorer .collapsed {
  display: block !important;
}

